.flex {
  display: flex
}

.marginHorizontal-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.container {
  padding: 18px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

@media (min-width: 620px) {
  .container {
      margin-left: auto;
      margin-right: auto;
      min-width: 560px;
      width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}