@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
  margin: 0;
  font-family: -apple-system, 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
